@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 !important;
  background: #ffffff;
  color: #000;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
svg {
  color: white;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flip {
  position: absolute;
  width: 160px;
  height: 48px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
  top: 0%;
  left: 0%;
  margin: -24px 0 0 -80px;
}
.flip a {
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
}
.flip a .front,
.flip a .back {
  margin: 0;
  width: 160px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  letter-spacing: 0.15em;
}
.flip a .front {
  background-color: #fff;
  color: #000;
  -webkit-transform: rotateY(0) translateZ(24px);
  -moz-transform: rotateY(0) translateZ(24px);
  -o-transform: rotateY(0) translateZ(24px);
  -ms-transform: rotateY(0) translateZ(24px);
  transform: rotateY(0) translateZ(24px);
}
.flip a .back {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(34, 34, 34, 0);
  -webkit-transform: rotateX(90deg) translateZ(24px);
  -moz-transform: rotateX(90deg) translateZ(24px);
  -o-transform: rotateX(90deg) translateZ(24px);
  -ms-transform: rotateX(90deg) translateZ(24px);
  transform: rotateX(90deg) translateZ(24px);
  overflow: hidden;
}
.flip a .back:after {
  content: '';
  position: absolute;
  top: -32%;
  left: -10%;
  width: 120%;
  height: 50%;
  background: #222;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -ms-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.flip a:hover {
  -webkit-transform: translateZ(-24px) rotateX(-90deg);
  -moz-transform: translateZ(-24px) rotateX(-90deg);
  -o-transform: translateZ(-24px) rotateX(-90deg);
  -ms-transform: translateZ(-24px) rotateX(-90deg);
  transform: translateZ(-24px) rotateX(-90deg);
}
.flip a:hover .front {
  background: #db2777;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.flip a:hover .back {
  color: #fff;
  -webkit-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  -ms-transition: color 0.4s linear;
  transition: color 0.4s linear;
  background: #db2777;
}
.flip a:hover .back:after {
  -webkit-transform: rotate(6deg) translate(100px, -18px);
  -moz-transform: rotate(6deg) translate(100px, -18px);
  -o-transform: rotate(6deg) translate(100px, -18px);
  -ms-transform: rotate(6deg) translate(100px, -18px);
  transform: rotate(6deg) translate(100px, -18px);
}
